@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');
$colors: (
  "dark-magneta": hsl(300, 43%, 22%),
  "light-magneta": hsl(333, 80%, 67%),
  "d-grayish-magneta": hsl(303, 10%, 53%),
  "l-grayish-magneta": hsl(300, 24%, 96%)
);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 15px;
  font-family: 'Spartan', sans-serif;
  margin: auto;
}

/////////// BODY-CODE //////////
.homepage {
  background-image: url(../images/bg-pattern-top-mobile.svg), url(../images/bg-pattern-bottom-mobile.svg);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  margin: 5rem auto auto auto;
  padding: 1rem;
  max-width: 500px;
  &__container {
    text-align: center;
    .homepage__text {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      .homepage__title {
        max-width: 270px;
        line-height: 1;
        margin: auto;
        font-size: 2rem;
        font-weight: 700;
        color: map-get($colors, dark-magneta);
      }
      .homepage__description {
        padding: 0.9375rem;
        text-align: center;
        color: map-get($colors, d-grayish-magneta);
      }
    }
  }
  &__rates {
    .rate__description {
      background-color: map-get($colors, l-grayish-magneta);
      color: map-get($colors, dark-magneta);
      font-weight: 700;
      padding: 1rem;
      margin-bottom: 1rem;
      border-radius: 0.75rem;
        .star {
          margin: 0 0.4rem 0.5rem 0;
        }
    }
  }
  &__opinions {

    .opinion {
      text-align: left;
      background-color: map-get($colors, dark-magneta);
      padding: 3rem 2rem;
      border-radius: 0.5rem;
      margin-bottom: 1rem;
      line-height: 1.7;
      &__label {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
        .opinion__author {
          color: #fff;
          font-weight: 700;
        }
        .opinion__grade {
          color: map-get($colors, light-magneta);
          font-weight: 300;
        }
      }
      .opinion__description {
        color: #fff;
        text-indent: 0.5rem;
      }
    }
    .author {
      width: 50px;
      border-radius: 100%;
      margin-right: 2rem;
    }
  }

}
@media screen and (min-width: 1024px) {
  .homepage {
    background-image: url(../images/bg-pattern-top-desktop.svg), url(../images/bg-pattern-bottom-desktop.svg);
    max-width: 1440px;
    padding: 2rem 4rem;
      &__container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5rem;
          .homepage__text {
            text-align: left;
            .homepage__title {
              max-width: 500px;
              font-size: 3.5rem;
              margin: auto auto 1.5rem auto;
            }
            .homepage__description {
              max-width: 500px;
              line-height: 1.7;
              padding: 0;
              margin: auto 0;
              font-size: 1rem;
              text-align: left;
            }
          }
      }
    &__rates {
      .rate__description {
        display: flex;
        align-items: center;
        padding: 1.5rem 4rem;
        &--text {
          margin: 0 2rem;
        }
        .star {
          margin-left: 0.4rem;
        }
      }
      .rate__description:nth-child(2){
        transform: translateX(10%);

      }
      .rate__description:nth-child(3){
        transform: translateX(20%);

      }

    }
    &__opinions {
      display: flex;
      .opinion {
        padding: 3rem 2rem;
        margin-left: 2rem;
      }
      .opinion:nth-child(2) {
        transform: translateY(10%);
      }
      .opinion:nth-child(3) {
        transform: translateY(20%);
      }

    }

  }


}